<!-- ACTUALIZAR  -->
{% extends 'base.html' %}

{% block content %}
<h2 class="title_2">Actualizar Usuario</h2>

<form method="post" action="/users/{{ user.id }}/update">
    <div class="field">
        <label for="nombre">Nombre:</label>
        <div class="control">
            <input type="text" id="nombre" name="nombre" required class="input" value="{{ user.nombre }}">
        </div>
    </div>
    <div class="field">
        <label for="apellido">Apellido:</label>
        <div class="control">
            <input type="text" id="apellido" name="apellido" required class="input" value="{{ user.apellido }}">
        </div>
    </div>
    <div class="field">
        <label for="username">Nombre de Usuario:</label>
        <div class="control">
            <input type="text" id="username" name="username" required class="input" value="{{ user.username }}">
        </div>
    </div>

    <div class="field">
        <label for="role">Rol:</label>
        <div class="control">
            <div>
                <input type="text" id="role" name="role" required class="input" value="{{ user.role }}">
            </div>
        </div>


        <div class="field">
            <label for="celular">Celular:</label>
            <div class="control">
                <input type="text" id="celular" name="celular" required class="input" value="{{ user.celular }}">
            </div>
        </div>

        <div class="field">
            <label for="direccion">Direccion:</label>
            <div class="control">
                <input type="text" id="direccion" name="direccion" required class="input" value="{{ user.direccion }}">
            </div>


            <div class="field">
                <label for="pais">Pais:</label>
                <div class="control">
                    <input type="text" id="pais" name="pais" required class="input" value="{{ user.pais }}">
                </div>

            </div>



            <div class="field">
                <label for="ciudad">Ciudad:</label>
                <div class="control">
                    <input type="text" id="ciudad" name="ciudad" required class="input" value="{{ user.ciudad }}">
                </div>

            </div>





            <input type="submit" value="Actualizar" class="button is-primary">

            {% endblock %}